*{
    background-color: rgb(238, 238, 238);
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}
.main{
    width: 74%;
    height: 55%;
    position: absolute;
    top: 20%;
    left:13%;
    background-color: white;
    border-radius: 25px;
}
.login{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 350px;
    position: absolute;
    left:3%;
    top: 6%;
    border-radius: 10px;
}
.image{
    position: absolute;
    top: 4%;   
    width: 60px;
    height: 60px;
}
.login h2{
    font-weight: 400;
    font-size: 40px;
    background-color: white;    
    position: absolute;
    top: 14%;
    left: 2%;
}
.login p{   
    position: absolute; 
    top: 37%;
    left: 3%;
    width: 500px;
    height:50px;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
} 
.mail{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 100px;
    position: absolute;
    top: 30%;
    left:53%;
}
.mail input[type="radio"]{
    transform: scale(1.5);
    margin-top: 2%;
    margin-bottom: 2%;
}
.mail label{
    margin-left: 2%;
    background-color: white;
    font-size: 16px;
    /* font-weight: 400; */
}

.buttons{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 50px;
    position: absolute;
    top: 83%;
    right: 2%;
}
.buttons .existing-mail{
    color: rgb(0 99 155);
    background-color: white;
    font-size: 16px;
    position: absolute;
    left: 40%;
    width: 175px;
    height: 35px;
    border-radius: 20px;
    border: none;
}
.existing-mail:hover{
    background-color: aliceblue;
}   
.buttons .next{
    background-color: rgb(11 87 208);
    width: 70px;
    height: 35px;
    position: absolute;
    left: 81%;
    border-radius: 20px;
    border-color:  rgb(11 87 208);
    border: none;
    color: white;
    font-size: 16px;
}
.next:hover{
    background-color: rgb(7, 79, 194);
}
.footer{
    width: 175px;
    height: 35px;
    position: absolute;
    top: 77%;
    left: 75%;
    border: none;
    
}
.btn{
    width: 55px;
    height: 35px;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: rgb(230, 227, 227);
}